<div id="<%= dom_id @link %>">
  <p>
    <strong>Url:</strong>
    <%= @link.url %>
  </p>

    <p>
    <strong>Url hash:</strong>
    <%= @link.url_hash %>
  </p>
</div>
<div>
  <%= link_to "Back to links", links_path %>
</div>
